<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type"
	content="application/json; charset=UTF-8" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
	function testValid() {
		$.ajax({
			type: "POST",
			//提交格式 对应springmvc @RequestBody
			contentType: "application/json; charset=utf-8",
			url : "/greeting5",
			//返回格式
			//dataType : "json",
			//需要严格的格式化 
			data : JSON.stringify({
				"id" : "123",
				//"password" : "123",
				"username" : "123"
			}),
			success:function(data){
				alert(data);
			}
		});
	}
</script>
</head>
<body>
	<input name="id" value="123" />
	<input name="password" value="123" />
	<input name="username" value="123" />
	<button type="button" onclick="testValid()">submit</button>
</body>

</html>